<div class="container">
  <!-- header bar top level -->
  <div class="header header_bar">
    <!-- Shopping Cart -->
    <!-- prettier-ignore -->
    <div class="my-cart">My Cart ( {{cartItems}} )
      <div class="my-cart_items">
          <div *ngIf="cartItems == 0" class="message">
            :( you have no items in your cart
          </div>


          <!-- Shopping Cart Items -->
          <div class="cart-items">
            <br>
            <app-cart-item size="S" quantity={{this.smallItems}}></app-cart-item>
            <br>
            <app-cart-item size="M" quantity={{this.mediumItems}}></app-cart-item>
            <br>
            <app-cart-item size="L" quantity={{this.largeItems}}></app-cart-item>
          </div>

      </div>
    </div>
  </div>

  <!-- Product section -->
  <div class="inner-container">
    <div class="product">
      <!-- product image -->
      <div class="product_image">
        <img src="../assets/classic-tee.jpg" alt="T-Shirt Product Image" />
      </div>

      <div></div>

      <!-- product details right hand column -->
      <div class="product_purchase purchase-container">
        <div class="product_name">Classic Tee</div>
        <br />
        <hr />
        <div class="product_price">$75.00</div>
        <hr />

        <br />
        <!-- product description -->
        <div class="product_description muted">
          <p>
            Dolor sit amet consectetur, adipisicing elit. Officiis, veniam?
            Placeat ab pariatur illo voluptatum non eligendi dolor et dolorum
            eum sit rem veritatis labore unde provident ipsum, vitae error eaque
            eos fugit quibusdam saepe. Quos, vero. Tempore odio dolor sequi quia
            vero quod explicabo aliquid autem, rerum voluptates provident!
          </p>
        </div>
        <br />

        <!-- product size -->
        <div class="product_size">
          <span class="muted">SIZE</span><span class="required">*</span>
          {{ sizeSelected }}
          <br />
          <button class="btn btn_small btn_white" (click)="setSize('S')">
            S
          </button>
          <button class="btn btn_small btn_white" (click)="setSize('M')">
            M
          </button>
          <button class="btn btn_small btn_white" (click)="setSize('L')">
            L
          </button>
        </div>

        <br />

        <!-- product buy button -->
        <button
          class="btn btn_black product_add_to_cart"
          id="addToCart"
          (click)="addToCart()"
        >
          ADD TO CART
        </button>
      </div>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
